* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  outline: none;
  transition: 0.2s;
  font-family: inherit;
}
.flex-wrap {
  flex-wrap: wrap;
}
ul {
  list-style: none;
  margin-bottom: 0rem;
}
@font-face {
  font-family: Flat Earth Scribe;
  src: url(../fonts/Flat\ Earth\ Scribe.ttf);
}
@font-face {
  font-family: Antro_Vectra_Bolder;
  src: url(../fonts/Antro_Vectra_Bolder.otf);
}
@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirLTStd-Book.otf);
}
body {
  font-family: Avenir;
  overflow-x: hidden;
}
.navbar {
  #navbar_top {
    transition: 1000ms ease-in-out;
  }
  padding: 20px 0px;
  .logo-home-img {
    padding: 0px 48px;
  }
  @media (max-width: 1399px) {
    padding: 20px 0px;
    .logo-home-img {
      padding: 0px 0px;
    }
  }

  @media (max-width: 1199px) {
  }
  @media (max-width: 991.9px) {
    .px-5 {
      padding-right: 0.1rem !important;
      padding-left: 0.1rem !important;
    }
    ul {
      padding-left: 0rem;
    }
    .social-media-icon {
      margin-top: 10px;
    }
  }
}

nav {
  background-color: #535e4b;
  img {
    height: 76px;
    width: 376px;
    @media (max-width: 1199px) {
      height: 50px;
      width: 300px;
    }
    @media (max-width: 380px) {
      height: 50px;
      width: 250px;
    }
  }

  .navbar-nav {
    @media (max-width: 991.9px) {
      margin-top: 20px;
    }

    .nav-item {
      .nav-link {
        font-size: 17px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 400;
        padding: 0px 20px;
        @media (max-width: 1399px) {
          padding: 0px 10px;
          font-size: 14x;
        }
      }
      .active {
        color: rgb(33, 196, 144) !important;
        position: relative;
      }
      // .active::after {
      //   content: "";
      //   position: absolute;
      //   bottom: -5px;
      //   width: 20%;
      //   background-color: #a2d6c6;
      //   height: 3px;
      //   display: flex;
      // }
      // .active:hover::after {
      //   width: 60%;
      //   transition: 500ms ease-in;
      // }
      .nav-link:hover {
        color: rgb(33, 196, 144);
        width: fit-content;
      }
      @media (max-width: 991.9px) {
        .nav-link {
          font-size: 17px;
          text-transform: uppercase;
          color: #ffffff;
          font-weight: 600;
          padding: 7px 0px;
          width: fit-content;
        }
      }
    }
  }
  .social-media-icon i {
    font-size: 19px;
    color: #ffffff;
    @media (max-width: 991.9px) {
      font-size: 30px;
    }
  }
  .social-media-icon i:hover {
    border: 1px solid white;
    border-radius: 50%;
    padding: 4px 5px;
    color: rgb(33, 196, 144);
    font-size: 23px;
  }
  .navbar-light .navbar-toggler {
    border-color: none !important;
  }
  .navbar-toggler {
    padding: 0rem 0rem;
    font-size: 3rem;
    line-height: 1;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    color: #97b174 !important;
  }
  .navbar-toggler:focus {
    outline: none;

    box-shadow: none !important;
  }
  .navbar-toggler:hover {
    color: white !important;
  }
}

section.header {
  width: 100%;
  background-color: #ffc746;

  .myvideo {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  .head-content {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    img {
      max-width: 100%;
    }
    @media (max-width: 992px) {
      img {
        width: 500px;
      }
    }
    @media (max-width: 768px) {
      img {
        width: 300px;
      }
    }
    @media (max-width: 576px) {
      img {
        width: 400px;
      }
    }
  }
  video {
    width: 100%;
    filter: brightness(0.5);
     @media (max-width: 576px) {
          height: 500px;
          object-fit: cover;
        }
  }
  h2 {
    font-size: 40px;
    // line-height: 67px;
    color: #ffffff;
    font-family: "Flat Earth Scribe";
    text-align: center;
    @media (max-width: 991.9px) {
      font-size: 30px;
    }
    @media (max-width: 767.9px) {
      font-size: 25px;
    }
    @media (max-width: 576.9px) {
      font-size: 25px;
    }
  }
  // h1 {
  //   font-size: 76px;
  //   line-height: 67px;
  //   color: #d3ae63;
  //   font-family: "Flat Earth Scribe";
  //   text-align: center;
  //   @media (max-width: 991.9px) {
  //     font-size: 65px;
  //     line-height: 45px;
  //   }
  //   @media (max-width: 767.9px) {
  //     font-size: 50px;
  //     line-height: 50px;
  //   }
  // }
  // p {
  //   font-size: 21px;
  //   line-height: 29px;
  //   color: #ffffff;
  //   font-weight: 500;
  //   font-family: "Avenir";
  //   text-align: center;
  //   @media (max-width: 767.9px) {
  //     font-size: 18px;
  //   }
  // }
  // .header-content {
  //   height: 100vh;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  // img {
  //   width: 100%;
  //   height: 100vh;
  //   @media (max-width: 576px) {
  //     object-position: -550px;
  //     object-fit: none;
  //   }
  // }
}

section.event {
  background-color: #ffc746;
  padding: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media (max-width: 991.9px) {
    height: auto;
    padding: 50px;
    .event-box {
      margin: 10px 0px;
    }
  }

  h6 {
    font-size: 18px;
    margin-bottom: 0rem;
    text-transform: uppercase;
    color: #5e5150;
    font-weight: 800;
    font-family: "Avenir";
  }
  p {
    font-size: 16px;
    color: #5e5150;
    font-family: "Avenir";
    margin-bottom: 0rem;
    @media (max-width: 1199.9px) {
      font-size: 18px;
    }
  }
  img {
    object-fit: contain;
    height: 60px;
    width: 60px;
    margin-right: 20px;
  }
}
section.about {
  background-color: #d3ae63;
  width: 100%;
  height: 100vh;
  @media (max-width: 991.9px) {
    height: 100%;
  }
  .about-img-2 {
    height: 100vh;
    width: 100%;
    @media (max-width: 991.9px) {
      height: 100%;
    }
  }
  .about-img-1 {
    height: 100vh;
    @media (max-width: 991.9px) {
      height: 100%;
    }
  }
  h2 {
    font-size: 100px;
    line-height: 75px;
    color: #ffffff;
    font-family: "Flat Earth Scribe";
    margin-bottom: 0rem;
    @media (max-width: 1199.9px) {
      font-size: 75px;
    }
    @media (max-width: 991.9px) {
      font-size: 85px;
    }
    @media (max-width: 767.9px) {
      font-size: 80px;
      padding: 0px 15px;
    }
    @media (max-width: 575.9px) {
      padding: 0px 15px;
      font-size: 60px;
    }
  }
  .about-con1 {
    padding-right: 100px;
    top: 110px;
    right: 0px;
    .btn {
      background: none;
      border: none;
      margin-top: -30px;
      a {
        background-color: none;
        font-size: 24px;
        line-height: 99px;
        text-decoration: none;
        text-transform: uppercase;
        color: #5e5150;
        font-weight: 800;
        font-family: "Avenir";
      }
    }
  }
  .about-con2 {
    bottom: 8px;
    left: 0px;
    right: 0px;
    margin: auto;
    h2 {
      font-size: 85px;
      line-height: 75px;
      color: #ffffff;
      font-family: "Flat Earth Scribe";
      margin-bottom: 0rem;
      @media (max-width: 1199.9px) {
        font-size: 75px;
      }
      @media (max-width: 991.9px) {
        font-size: 80px;
      }
      @media (max-width: 767.9px) {
        font-size: 80px;
        padding: 0px 15px;
      }
      @media (max-width: 575.9px) {
        padding: 0px 15px;
        font-size: 60px;
      }
    }
    .btn {
      background: none;
      border: none;
      margin-top: -30px;
      a {
        background-color: none;
        font-size: 20px;
        line-height: 99px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-weight: 800;
        font-family: "Avenir";
      }
    }
  }
}

section.explore {
  background-color: #97b174;
  display: flex;
  justify-content: center;
  align-items: center;

  .gridtype-img {
    width: 100%;
    height: 2550px;
    @media (max-width: 1399px) {
      height: 2500px;
    }
    @media (max-width: 991.9px) {
      height: 100%;
      object-fit: cover;
      display: none;
    }
  }

  .footer-logo {
    height: 320px;
    width: 485px;
    padding-bottom: px;
    padding-top: 50px;
    @media (max-width: 1199.9px) {
      padding-top: 0px;
    }
    @media (max-width: 991.9px) {
      padding-top: 50px;
      width: 100%;
      height: 100%;
    }
  }

  .explore-body {
    .w-35 {
      width: 35%;
    }
    .w-65 {
      width: 65%;
    }
    padding: 200px 270px 200px 270px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    margin: auto;
    @media (max-width: 991.9px) {
      background: url("../images/gridtype.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    @media (max-width: 1399px) {
      padding: 160px 220px 160px 220px;
    }
    @media (max-width: 1199px) {
      padding: 130px 150px 130px 150px;
    }
    @media (max-width: 991.9px) {
      position: relative;
      padding: 200px 220px 200px 220px;
    }
    @media (max-width: 850.9px) {
      padding: 200px 170px 200px 170px;
    }
    @media (max-width: 767.9px) {
      padding: 130px 110px 130px 110px;
    }
    @media (max-width: 576.9px) {
      padding: 60px 40px 60px 40px;
    }
    p {
      width: 100%;
      font-size: 18px;
      color: #ffffff;
      font-family: "Avenir";
      font-weight: 500;
      line-height: 25px;
      padding: 20px 0px;
    }
    .explore-left {
      width: 50%;
      padding-right: 20px;
      @media (max-width: 991.9px) {
        width: 100%;
        padding-left: 0px;
      }
      .explore-text {
        height: 684px;
        width: 100%;
      }
      .bird-img {
        height: 400px;
        width: 100%;
        @media (max-width: 991.9px) {
          height: 100%;
        }
      }
      .childern-img {
        margin-top: 20px;
        height: 780px;
        width: 100%;
        @media (max-width: 991.9px) {
          height: 100%;
        }
      }
      .relax {
        font-size: 150px;
        color: #535e4b;
        font-family: "Flat Earth Scribe";
        text-align: center;
        @media (max-width: 768px) {
          font-size: 120px;
        }
        @media (max-width: 450px) {
          font-size: 60px;
        }
      }
    }
    .explore-right {
      width: 50%;
      padding-left: 20px;
      @media (max-width: 991.9px) {
        width: 100%;
        padding-left: 0px;
      }
      .boat-img {
        height: 1000px;
        width: 100%;
        @media (max-width: 991.9px) {
          height: 100%;
        }
      }
      .discover-text {
        padding-top: 50px;
        font-size: 120px;
        margin-left: -35px;
        text-align: center;
        color: #535e4b;
        font-weight: bold;
        font-family: Antro_Vectra_Bolder;
        @media (max-width: 992px) {
          margin-left: 0px;
        }
        @media (max-width: 576px) {
          font-size: 100px;
        }
        @media (max-width: 450px) {
          font-size: 70px;
        }
      }
      .img4 {
        width: 100%;
        @media (max-width: 991.9px) {
          height: 100%;
        }
      }
    }
  }
}
.footer {
  height: 100px;
  background-color: #146447;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-family: "Avenir";
    text-align: center;
    margin-bottom: 0rem;
  }
}

.contact-us-head {
  background: url(../images/contact-head1.png) no-repeat top center;
  height: 550px;
  width: 100%;
  @media (max-width: 768.9px) {
    height: 350px;
  }
  @media (max-width: 576.9px) {
    height: 300px;
  }

  h2 {
    padding-top: 136px;
    font-size: 155px;
    line-height: 114px;
    color: #b0c181;
    font-family: "Flat Earth Scribe";
    text-align: center;
    @media (max-width: 991.9px) {
      font-size: 100px;
    }
    @media (max-width: 768.9px) {
      font-size: 75px;
      padding-top: 76px;
    }
    @media (max-width: 576.9px) {
      font-size: 60px;
      line-height: 50px;
    }
  }
}
.contact-card {
  @media (max-width: 992px) {
    .layer1 {
      display: none;
      height: 0px;
    }
  }
  .contact-card-child {
    position: absolute;
    top: 0;
    padding: 0px 270px 0px 270px;
    margin-top: -17%;
    @media (max-width: 1200px) {
      padding: 0px 150px 0px 150px;
    }
    @media (max-width: 992px) {
      padding: 0px 100px 0px 100px;
      // margin-top: 0px;
      position: relative;
      background: url("../images/Layer\ 1.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media (max-width: 768px) {
      padding: 0px 60px 0px 60px;
    }
    @media (max-width: 576px) {
      padding: 0px 30px 0px 30px;
    }
  }
  .address {
    background-color: #006142;
  }
  p,
  p a {
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-family: "Avenir";
    text-align: center;
    margin-bottom: 0rem;
    text-decoration: none;
    @media (max-width: 992px) {
      font-size: 20px;
    }
    @media (max-width: 768.9px) {
      font-size: 16px;
    }
  }
  ul {
    padding-left: 0rem;
  }
  .bx {
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    @media (max-width: 992px) {
      font-size: 30px;
    }
    @media (max-width: 768.9px) {
      font-size: 22px;
    }
  }
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 450px;
  @media (max-width: 1200px) {
    height: 370px;
  }
  @media (max-width: 992px) {
    height: 300px;
  }
  @media (max-width: 768.9px) {
    height: 250px;
  }
  @media (max-width: 576.9px) {
    height: 200px;
  }
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 450px;
  @media (max-width: 1200px) {
    height: 370px;
  }
  @media (max-width: 992px) {
    height: 300px;
  }
}

.gmap_iframe {
  width: 100% !important;
  height: 450px !important;
  @media (max-width: 1200px) {
    height: 370px;
  }
  @media (max-width: 992px) {
    height: 300px;
  }
}

.contact-logo {
  margin-top: 100px;
  height: 132px;
  width: 534px;
  @media (max-width: 1200px) {
    margin-top: 40px;
  }
  @media (max-width: 767.9px) {
    width: 100%;
    margin-top: 130px;
  }
}
@media (max-width: 576px) {
  .cont {
    height: 300px !important;
  }
}

.loaders {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
  z-index: 999;
  background-color: rgb(255, 255, 255, 0.8);
  .spinner {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .loader {
    width: inherit;
    height: inherit;
    position: absolute;
  }

  .loader::before,
  .loader::after {
    content: "";
    border: 3px solid #505065;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 1;
  }

  .l1::before,
  .l1::after {
    animation: clockwiseZ 2.5s infinite;
  }

  .l2::after,
  .l2::before {
    animation: anticlockwiseZ 2.5s infinite;
  }

  @keyframes clockwiseZ {
    0%,
    100% {
      transform: rotateY(0);
    }

    50% {
      transform: rotateY(180deg) skew(-10deg, -5deg);
    }
  }

  @keyframes anticlockwiseZ {
    0%,
    100% {
      transform: rotateX(0);
    }

    50% {
      transform: rotateX(-180deg) skew(10deg, 5deg);
    }
  }
}
